*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --color000: #ffffff8e;
    --color001: #fff;
    --color002: #111;
    --color003: #18191f;
    --color004: #0072ff;
    --color005: #18191ffb;
    --color006: #18191fe8;

    --wa: #25D366;
    --fb: #1877F2;
    --ig001: #833AB4;
    --ig002: #E1306C;
    --ig003: #FD1D1D;
    --ig004: #FCAF45;

    --font-logo: font-family: "Audiowide", serif;
}
body {
    background-color: var(--color002);
    scroll-behavior: smooth;
}
.interface {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 4%;
}

#inicio{height: 100vh;}
#about{background: var(--color000);}
#work{background: var(--color005); }
#portifolio{background: var(--color000); height: 100vh;}
#footer{background: var(--color005); height: 100vh;}