@import url(config.css);


footer#footer .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#footer .footer-top{
    padding: 10px 0;
}
#footer .footer-top .button-footer-top{
    padding: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#footer .footer-top .button-footer-top button{
    border: none;
    color: var(--color004);
    font-size: 40px;
    font-weight: bolder;
    background: transparent;
    cursor: pointer;
}
#footer .footer-top .button-footer-top button:hover{
    color: var(--color000);
}

#footer .footer-middle{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
#footer .footer-middle h2{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 40px;
    text-align: center;
}
#footer .footer-middle a{
    text-decoration: none;
    animation: rise 2s infinite alternate;
}
@keyframes rise {
            from { transform: translateY(10px); }
            to { transform: translateY(-10px); }
}

#footer .footer-middle a button{
    border: none;
    padding: 9px 22px;
    cursor: pointer;
    border-radius: 7px;
    color: var(--color003);
    background-color: var(--color004);
    font-size: 16px;
}

#footer .footer-down{
    color: var(--color000);
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
#footer .footer-down p{
    border-top: 2px solid var(--color000);
    padding-top: 10px;
}
#footer .button-footer a{
    text-decoration: none;
}
#footer .button-footer button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--color000);
    font-size: 20px;
    font-weight: bolder;
}