@import url(config.css);

@media screen and (max-width: 900px) {
    header .lang, .container-botoes{
        display: none;
    }
    .content-p{
        text-align: center;
    }
    
}
@media screen and (max-width: 800px){ 
    /*          </MARQUE>          */
    #work .marquee-content {
        display: inline-flex;
    }

    /**/
    section#about .interface .txt-funciona,
    .instrucoes {
        display: block;
        width: 100%;
    }

    section#about .interface .txt-funciona {
        position: static;
    }
    section#about .interface .txt-funciona h3 {
        font-size: 3em;
        line-height: 50px;
        text-align: center;
    }
    section#about .interface .instrucoes{
        width: 100%;
        padding: 0 3%;
    }
    section#about .interface .instrucoes .instru-box {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
}