.sectionSkills{
    display: flex;
    flex-direction: column;
}
.sectionSkillsContant{
    padding: 60px 0;
}
.skillContant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    padding: 40px 0;
}
.skillsHeader h2 {
    font-size: 2.8rem;
    font-weight: bold;
    color: hsl(199, 100%, 50%);
    text-shadow: #000 1px 1px;
    margin-bottom: 30px;
}
.skillsHeader p {
    color: var(--text-color);
    opacity: 0.7;
    margin: 30px 0;
    max-width: 500px;
    font-weight: lighter;
}
.skillsToggle {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}
.skillsBtn {
    padding: 10px 20px;
    border: none;
    background: var(--menu-bg);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid hsl(199, 100%, 50%);
}
.skillsBtn.active {
    background: hsl(199, 100%, 50%);
    color: #fff;
}
.skillsIconsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 40px;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
}
.skillsIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 40px;
    transition: transform 0.3s, color 0.3s;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 115px;
    height: 115px;
}
.skillsIcon span {
    margin-top: 8px;
    font-size: 10px;
    opacity: 0.8;
}
.skillsIcon:hover {
    transform: scale(1.1);
}


@media(max-width: 768px){
  .skillsIconsGrid {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }

  .skillsHeader h2 {
    font-size: 30px;
  }

  .skillsHeader p {
    font-size: 14px;
  }
  .skillContant{
    flex-direction: column;
}
}
